* {
  font-family: JetBrains Mono Nerd Font;
  font-size: 13px;
  font-weight: bold;
  border: none;
  min-height: 0;
}

tooltip {
  background: #1e222a;
  color: #ffffff;
  border-radius: 6px;
  padding: 6px 10px;
}

window#waybar {
  background: rgba(15, 15, 15, 0.55);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

 /* Tray Styling */
#tray {
  margin: 5px 6px;
  padding: 4px 12px;
  border-radius: 14px;

  background: rgba(25, 25, 25, 0.6);
}

#tray:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Custom Updates Styling */
#custom-updates {
    background-color: rgba(25, 25, 25, 0.6);
    font-size: 16px;
    color: #cdd6f4;
    border-radius: 14px;
    padding: 0 15px;
    margin: 4px 6px;
    border: 2px solid #45475a;
    transition: background-color 0.25s ease, color 0.25s ease, border-color 0.25s ease;
}

/* GREEN (up-to-date) */

#custom-updates.green {
    background-color: rgba(25, 25, 25, 0.6);
    color: #cdd6f4;
    border-color: #45475a;
}

#custom-updates.green:hover {
    background-color: #ffffff;
    color: #000000;
    border-color: #2ecc71;
}

/* YELLOW (updates available) */

#custom-updates.yellow {
    background-color: #f9e2af;
    color: #1e1e2e;
    border-color: #f9e2af;
}

#custom-updates.yellow:hover {
    background-color: #ffffff;
    color: #000000;
    border-color: #f1c40f;
}

/* RED (critical updates) */

#custom-updates.red {
    background-color: #d90429;
    color: #ffffff;
    border-color: #d90429;
}

#custom-updates.red:hover {
    background-color: #ffffff;
    color: #000000;
    border-color: #c1121f;
}

/* General module pill */
#window,
#clock,
#custom-volume,
#custom-power {
  background: rgba(25, 25, 25, 0.6);
  margin: 5px 6px;
  padding: 4px 12px;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.07);
}

/* Workspaces */
#workspaces {
  background: rgba(25, 25, 25, 0.6);
  margin: 5px 6px;
  padding: 4px 12px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.07);
}

#workspaces button {
  padding: 4px 8px;
  margin: 0 3px;
  border-radius: 10px;

  font-size: 8px;
  min-width: 22px;

  color: rgba(255, 255, 255, 0.6);
  background: transparent;
  border: none;
}

#workspaces button.active {
  background: rgba(255, 255, 255, 0.18);
  color: #ffffff;
}

#workspaces button:hover {
  background: rgba(255, 255, 255, 0.12);
  color: #ffffff;
}

/* Taskbar container */
#wlr-taskbar {
  background: rgba(25, 25, 25, 0.6);
  margin: 5px 6px;
  padding: 4px 8px;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.07);
}

#wlr-taskbar button {
  background: transparent;
  padding: 4px;
  margin: 0 2px;
  border-radius: 10px;
}

#wlr-taskbar button.active {
  background: rgba(137, 180, 250, 0.25);
}

/* Media Container */
#custom-media-control,
#custom-media-title {
  background: rgba(25, 25, 25, 0.6);
  padding: 4px 8px;
  margin: 5px 0px;
  border: 1px solid rgba(255, 255, 255, 0.07);
}

/* Left rounded */
#custom-media-control {
  border-radius: 14px 0px 0px 14px;
}

/* Right rounded */
#custom-media-title {
  border-radius: 0px 14px 14px 0px;
  min-width: 160px;
}

/* Window title */
#window {
  color: #eaeaea;
}

/* System group pill */
#group-system {
  background: rgba(25, 25, 25, 0.6);
  border-radius: 16px;
  padding: 6px 12px;
  margin: 5px;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

/* Modules spacing */
#group-system > * {
  min-width: 32px;
  padding: 4px 8px;
  margin: 0 4px;
}

/* Arrow styling */
#custom-system-arrow {
  font-family: "JetBrainsMono Nerd Font";
  opacity: 0.7;
  font-size: 16px;
  padding: 0px 10px;
}

#custom-system-arrow:hover {
  opacity: 1;
}

/*  custom button and sysmbols  */
#custom-volume {
  padding-left: 10px;
  padding-right: 10px;
}

#custom-notification {
  padding-left: 10px;
  padding-right: 13px;
}
#custom-notification:hover {
  background: rgba(255, 255, 255, 0.7);
  color: #000000;
  border-radius: 8px;
}

#clock,
#battery,
#custom-power,
#custom-notification,
#custom-volume,
#custom-hyprsunset,
#custom-bluetooth {
  font-size: 16px; /* try 18–22 */
}

/* Clock */
#clock {
  color: #cdd6f4;
}

/* Power */
#custom-power {
  min-width: 30px;
  padding-left: 10px;
  padding-right: 12px;
  color: #f38ba8;
}

#custom-power:hover {
  background: rgba(243, 139, 168, 0.2);
}

#clock:hover,
#custom-media-control:hover,
#custom-media-title:hover,
#custom-volume:hover {
  background: #ffffff;
  color: #000000;
}

#custom-volume {
  transition:
    background 0.2s ease,
    color 0.2s ease;
}

#battery,
#custom-bluetooth,
#custom-hyprsunset {
  padding: 0 8px;
  transition: background 0.2s ease;
  margin: 5px;
  border-radius: 8px;
}

#battery:hover,
#custom-bluetooth:hover,
#custom-hyprsunset:hover {
  background: rgba(255, 255, 255, 0.7);
  color: #000000;
  border-radius: 14px;
  margin: 5px;
}
